<a [routerLink]="['/help']">AYUDA</a>
<ul>
  <app-hero-detail *ngFor="let heroe of herosList; index as i" [num]="i" [heroe]="heroe"
    (selectedHero)="selected($event)">
  </app-hero-detail>
</ul>

<app-hero-fav></app-hero-fav>

<!-- <button (click)="likeAll()">me gustan todos</button>
{{ name }} -->

<app-hero [(name)]="name"></app-hero>

<div>clima: {{clima}}, temperatura: {{temperatura}}</div>

<!-- <app-hero [name]="'name'"></app-hero>

<app-hero name="name"></app-hero>


<app-hero [name]="true"></app-hero> -->
<app-heroes-form></app-heroes-form>
